{% extends 'base.html.twig' %}

{% block body %}

    <div class="posters_container">

        {# concaténation twig ! #}
        {# <img src="{{ asset('img/posters/small/' ~ movie.imdbId ~ '.jpg') }}" /> #}
        <img src="{{ movie.poster }}" />

        <h2>{{ movie.title }}</h2>
        <p>{{ movie.plot }}</p>
        <p>Released on: {{ movie.released|date("Y-m-d") }}

    </div>

{% endblock %}

{% block title %}
{{ movie.title }}
{% endblock title %}